{# src/Foohart/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'FoohartBlogBundle::base.html.twig' %}

{% block title %}Blog Index{% endblock%}


{% block header %}
{% endblock %}


{% block content %}
<h2>Blog</h2>
<p>Pagina Principale del Blog
{% endblock%}